{% extends "index.html"%}

{% block content %} <br><h1 align="center">Welcome to GETACSGOSMURF</h1><br>
<div class="container" align="center" height=100%>
  <image src="{{url_for('static', filename='images/image.jpg')}}" align="center">
  <br><br><p> Getacsgosmurf is a platform that offers you to buy unique counter strike accounts. We provide a variety of csgo accounts like prime accounts, non prime accounts, veteran coin accounts and many more. We provide csgo accounts that are boosted by our experienced players so you don’t need to worry about any VAC or Overwatch bans. A secure payment gateway (Paypal) method is set up for payment.<p>
</div>



{% endblock %}
