{% extends "index.html" %}
{% block nonprime %}

<center>
<h1>This is your Non Prime Account's page </h1>
<br><br>
<h2> What is CSGO Non Prime?</h2><br>
<body style="background-color:powderblue;">
<div class="container">
<p>As CSGO is a free to play game after creating a steam account you will get Non prime status. You will not be queued up with your Prime status friends. Your matchmaking experience will matter. Non prime matchmaking is almost filled with hackers. If you want to test your cheats then we provide Non prime accounts too. We also provide Private Rank (PR) 2 matchmaking ready accounts. Don't waste your time by creating a steam account and unlocking PR 2. You can directly buy csgo accounts from our site at a cheap price rate.</p>
</div>
</body>
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static', filename='images/image4.png')}}" class="card-img-top" alt="image3">
  <div class="card-body">
    <p class="card-text">Visit our instagram for more information. </p>
    <p> Instagram : <a href="https://www.instagram.com/getacsgosmurf/">getacsgosmurf </a>
  </div>
</div>
</center><br><br>




{% endblock %}
