{% extends "index.html" %}
{% block prime %}
<center>
<h1> This is your Non Prime Account's Page </h1>

    <br><br>

  <h2> What is CSGO Prime?</h2><br>
</center>
<div class="container"><center>
<body style="background-color:#F9E79F;">
<p>Prime status upgrade helps you with better matchmaking. Players with Prime Status are matched with other Prime Status players and are eligible to receive Prime-exclusive souvenir items, item drops, and weapon cases. A player can get his Prime status by completing his Private Rank (PR) with level 21. After reaching 21 PR level your Prime Status will be automatically unlocked. You can also buy your Prime status without completing PR level 21 from the steam store but in the Steam market the price is high so that brings you to GETACSGOSMURF. After buying a prime account you will be queued up with other prime enabled players. Prime matchmaking has a significant low amount of hackers. We provide csgo prime accounts at a cheaper rate than the steam market. If you don't want to play with hackers then you must buy a csgo prime account.
</p></body>
</center>
<img src="{{url_for('static', filename='images/image1.png')}}" style="rounded float-left" height="500px" width="500px"></img>
<img src="{{url_for('static', filename='images/image2.png')}}" class="rounded float-right" height="500px" width="500px"></img>


</div>
<br><br>

{% endblock %}
