<html>
<head>
<title> Simple </title>
</head>
<body bgcolor='cyan'> This is a simple program </body><br>

{% for x in replace%}

 <p>{{x}}</p>
        {% if x== "raj"%}
      </p> The condition is true</p>
        {%else%}
        <p>The condition is false</p>
        {%endif%}
 {% endfor%}
<p align="center"> This is a paragraph</p><br>
<a href="https://www.getacsgosmurf.com/"> this is keyword with the site name </a><br><br>
<a href="https://www.getacsgosmurf.com/" align="center"><button> getacsgosmurf </button></a>
</html>
